# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.rb
*.rdb

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
.migrate
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Specific project files to ignore
node_modules